* {
  box-sizing: border-box;
}

@mixin shadow($color) {
  box-shadow: inset 5px 5px 5px $color, 2px 3px 6px rgb(20, 20, 20);
}

@mixin button-shadow($color-primary, $color-secondary) {
  @include shadow($color-primary);

  &:hover {
    @include shadow($color-secondary);
  }
}

.heading {
  color: white;
  text-shadow: 0 0 25px rgb(191, 191, 255), 0 0 5px rgb(205, 205, 255);
  font-family: Georgia, "Times New Roman", Times, serif;
}

.body-container {
  width: 100vw;
  height: 100vh;
  background: #000;
}

.calculator {
  position: relative;
  background-color: rgb(67, 67, 67);
  width: 97%;
  max-width: 400px;
  min-height: 650.48px;

  #screen {
    padding: 20px;
    height: 88px;
    background-color: #a7af7c;
    box-shadow: inset 5px 5px 5px #636847, inset -5px -5px 5px #636847;
  }

  .equation-button {
    @include button-shadow(rgb(167, 167, 167), rgb(78, 78, 78));
  }

  #toggle-button,
  #backspace-button,
  #percentage-button {
    @include button-shadow(#fedc75, #d8a200);
  }

  .operator-button,
  #square-button,
  #power-button {
    @include button-shadow(#3fb37d, #065631);
  }

  #clear-button {
    @include button-shadow(rgb(255, 86, 86), rgb(188, 44, 44));
  }

  #solve-button {
    @include button-shadow(rgb(86, 165, 255), rgb(44, 68, 188));
  }

  #history-button {
    img {
      width: 30px;
    }
  }
}

#history {
  max-height: 522px;

  &::-webkit-scrollbar {
    display: none;
  }

  p {
    cursor: pointer;
  }
}

.display-none {
  display: none;
}
