* {
  box-sizing: border-box;
}

@mixin shadow($color) {
  box-shadow: inset 5px 5px 5px $color, 2px 3px 6px rgb(20, 20, 20);
}

@mixin button-shadow($color-primary, $color-secondary) {
  @include shadow($color-primary);

  &:hover {
    @include shadow($color-secondary);
  }
}

.calculator {
  width: 95%;
  max-width: 500px;
  background-color: rgb(37, 36, 36);
  @include shadow(rgb(87, 87, 87));

  #screen {
    padding: 20px;
    height: 88px;
    background-color: #a7af7c;
    box-shadow: inset 5px 5px 5px #636847, inset -5px -5px 5px #636847;
  }

  .equation-button {
    @include button-shadow(rgb(167, 167, 167), rgb(78, 78, 78));
  }

  #toggle-button,
  #backspace-button,
  #percentage-button {
    @include button-shadow(#fedc75, #d8a200);
  }

  .operator-button,
  #square-button,
  #power-button {
    @include button-shadow(#3fb37d, #065631);
  }

  #clear-button {
    @include button-shadow(rgb(255, 86, 86), rgb(188, 44, 44));
  }

  #solve-button {
    @include button-shadow(rgb(86, 165, 255), rgb(44, 68, 188));
  }
}
